SECRET_KEY=insert-key-here
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=fuel-prices
DATABASE_USERNAME=insert-username-here
DATABASE_PASSWORD=insert-password-here
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
